.background{
    background-color:#0B0C10 ;
    height: 953px;
}

.background-2{
    background-color:#0B0C10 ;
    height: 853px;
}

.logo{
    padding-left: 50px;
}

.icon-size{
    inline-size: 34px;
    margin-top: -40px;
    margin-left: 10px;
}

.logo h3{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 24px;
    color: white;}
    

nav ul{
    list-style: none;
}
 
.nav-con{
    margin-left: 100px;
    margin-top: -45px;
}


nav li{
    float: left;
    padding-left: 40px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

nav li:hover{
    cursor: pointer;
    color:orange ;
}

.active{
    color: white;
    font-weight: bold;
 }


.form-input{
    width: 255px;
    margin-left: 75%;
    border: 2px #66FCF1 solid;
    color: white;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: transparent;
    margin-top: -18px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.text h4{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.text{
    width: 575px;
    height: 400px;
    margin-left: 122px;
    margin-top: 120px;
    padding-right: 60px;
    color: white;
}


.text h1{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;

}

.text p{
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-right: 60px;
}


.email{
    margin-left: 122px;
 
}

.contact{
    margin-top: -130px;
}

.contact p{
    margin-left: 185px;
    margin-top: -35px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.phone{
    margin-left: 330px;
    margin-top: -55px;
}

.contact h6{
    margin-left: 390px;
    margin-top: -35px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

.map{
    width: 500px;
    height: 160px;
    background-color: white;
    margin-top: 27px;
    margin-left: 115px;
   
}

.form-style{
    width: 600px;
    height: 500px;
    background-color: #202833;
    margin-top: 115px;
    padding-top: 30px;

}

.form-style h3{
    padding-left:30px;
    color: white;
}


.form-in{
    
    width: 90%;
    height: 50px;
    margin-top: 10px;
    margin-left: 25px;
    padding-left: 20px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: #0B0C10;
    color: white;
}
.mess{
    padding-left: 30px;
}
.message{
    width: 540px;
    height: 100px;
    border-radius: 25px;
    border: none;
    margin-top:10px ;
    padding-top: 15px;
    padding-left: 10px;
    background-color: #0B0C10;
    color: white;
}

button{
    width: 170px;
    height: 60px;
    margin-top: 25px;
    margin-left: 400px;
    border-radius: 40px;
    background-color: #66FCF1;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

footer{
    width: 100%;

    
}

footer h4{
    padding-left: 130px;
    font-size: 24px;
    margin-top: 60px;
    color: white;
}

.yt{
    inline-size: 34px;
    margin-left: 1050px;
    margin-top: -30px;

}


.fb{
    inline-size: 34px;
    margin-left: 1100px;
    margin-top: -35px;
}

.twt{
    inline-size: 34px;
    margin-left: 1150px;
    margin-top: -35px;
}

.ig{
    inline-size: 34px;
    margin-left: 1200px;
    margin-top: -35px;
}

.heading{
    margin-left: 122px;
    margin-top: 85px;
    color: white;
}

.image{
    width: 470px;
    height: 470px;
    background-image: url(../assets/albums/sos.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-left: 122px;
    padding-top: 170px;
}

.image h1{
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
}

.image h3{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;

}


.icon{
    inline-size: 40px;
    margin-left: 210px;
    margin-top: 60px;
}

ul{
    list-style: none;
}

.songs{
    margin-top: -40px;
    margin-left: -30px;
}

.song-box ul{
    
    padding: 10px;
    margin-top: 90px;
    margin-left: -40px;
    color: white;

}

.suggest li{
    display: inline-block;

    margin: 5px;
    padding: 10px;
    vertical-align: top;
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    color: white;
      
}

.mini-line{
    width: 70px;
    height: 2px;
    background-color: white;
    margin-left: 30px;
    margin-top: 4px;
}




.numbers{
  
    margin-left: -10px;
    margin-top: -35px;
}

.numbers h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
}

.numbers p{
    padding-bottom: 20px;
    color: white;
}



.song-title{

    padding-left: 48px;
    color: white;
    margin-top: -430px;
    
}

.song-title h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-bottom: 40px;

}

.song-title h6,p{
    padding-bottom: 3px;
    font-family: 'Poppins', sans-serif; 
}


.song-title h6{
    font-size: 14px;
}

.song-title p{
    font-size: 12px;
}

.albums{
    color: white;

    padding-left: 318px;
    margin-top: -442px;
}

.albums h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-bottom: 40px;

}

.albums p{
    font-family: 'Poppins', sans-serif; 
    font-size: 12px;
    padding-bottom: 29px;
}
    
.time{
    color: white;

    padding-left: 480px;
    margin-top: -449px;
}

.time h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-bottom: 40px;
}

.time p{
    font-family: 'Poppins', sans-serif; 
    font-size: 12px;
    padding-bottom: 29px;

}

.dots{
    

    color: white;
    padding-left: 620px;
    margin-top: -389px;
}



.dots p{
    padding-bottom: 25px;
}

.line-1{
    width: 660px;
    height: 1px;
    background-color: #202833;
    margin-left: -15px;
    margin-top: -349px;
}

.line-2{
    width: 660px;
    height: 1px;
    background-color: #202833;
    margin-left: -15px;
    margin-top: 40px;

}

.line-3{
    width: 660px;
    height: 1px;
    background-color: #202833;
    margin-left: -15px;
    margin-top: 40px;

}

.line-4{
    width: 660px;
    height: 1px;
    background-color: #202833;
    margin-left: -15px;
    margin-top: 36px;

}

.line-5{
    width: 660px;
    height: 1px;
    background-color: #202833;
    margin-left: -15px;
    margin-top: 40px;

}

.line-6{
    width: 660px;
    height: 1px;
    background-color: #202833;
    margin-left: -15px;
    margin-top: 40px;

}





.player-line{
    width: 500px;
    height: 50px;
    margin-top: 60px;
    margin-left: 80px;
}

.main-line{
    width: 1250px;
    height: 5px;
    background-color: #202833;
    margin-left: 7%;

}

.line-fill{
    width: 50%;
    height: 5px;
    background-color:#66FCF1;

}

.marker{
    width: 30px;
    height: 30px;
    background-color:#66FCF1;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: -18px;
}

.playing-now{
    width: 70px;
    height: 70px;
    background-image: url(../assets/albums/restoration_album_cover.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    margin-left: 122px;
}

.details h6{
    font-family: 'Poppins', sans-serif; 
    font-size: 24px;
    color: white;
    padding-left: 210px;
    margin-top: -60px;
}

.details p{
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    padding-left: 210px;
    color: white;
}


.details h5{
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    padding-left: 1190px;
    margin-top: -40px;
    color: white;
}

.back{
    padding-left: 615px;
    margin-top: -80px;

}

.pause{
    padding-left: 705px;
    margin-top: -70px;
}

.next{
    padding-left: 840px;
    margin-top: -80px;
}

.more{
    padding-left: 1250px;
    margin-top: -40px;


}